# //======================\\
# || Astyle Configuration ||
# \\======================//

# /-----------------\
# | Brackets/Braces |
# \-----------------/
# Use attached 'egyptian' braces
--style=attach

# /-------------\
# | Indentation |
# \-------------/
# Indent using 2 spaces
--indent=spaces=2

# indent namespace blocks
--indent-namespaces

# /---------\
# | Padding |
# \---------/
# Pad empty linse around header blocks, but treat closing header blocks as stand-alone blocks
--break-blocks=all

# Add space padding between a header and the following paren
--pad-header

# Unpad all parentheses not otherwise specified to be padded
--unpad-paren

# Align pointers and references with the names rather than the types
--align-pointer=name
--align-reference=name

# /------------\
# | Formatting |
# \------------/
# Add brackets to unbracketed one-line conditional statements
--add-brackets

# Auto-convert tabs into spaces
--convert-tabs

# /---------------\
# | Other options |
# \---------------/
# Do not retain a backup of the original file (that's what git is for)
--suffix=none

# Display optional information
--formatted

# Display only files that have been formatted
--formatted

# Force use of unix line endings
--lineend=linux
